body {
  min-height: 100%;
  background-image: url("../images/bg.png");
  background-position: center top;
  background-size: extend;
  background-repeat: no-repeat; }

section.landing {
  width: 320px;
  margin: 40pt auto;
  padding: 20pt 30pt 25pt;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 22px rgba(255, 255, 255, 0.3);
  border-radius: 7px; }
  section.landing h1 {
    margin: 0;
    padding: 0; }
  section.landing img {
    max-width: 100%; }
  section.landing p {
    color: white;
    text-align: center;
    font-weight: 300;
    margin-top: 12px;
    font-family: 'Helvetica', sans-serif;
    font-size: 15pt; }
  section.landing a {
    font-family: 'Helvetica', sans-serif;
    display: block;
    width: 160pt;
    margin: 5px auto;
    text-align: center;
    background: white;
    color: #009EAA;
    font-weight: 700;
    padding: 10pt;
    font-size: 14pt;
    border-radius: 7px;
    transition: all 0.2s; }
    section.landing a:hover, section.landing a:link, section.landing a:active {
      text-decoration: none; }
    section.landing a:hover {
      opacity: 0.8;
      color: #009EAA;
      background: white;
      width: 200pt;
      transition: all 0.3s; }

section.app {
  width: 320px;
  margin: 40pt auto;
  padding: 20pt 30pt 25pt;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 22px rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  margin-top: 10pt; }
  section.app a > img {
    width: 60px;
    display: block;
    margin: 0 auto; }
  section.app h1 {
    margin: 0;
    padding: 0; }
  section.app h2 {
    color: white; }
  section.app p {
    color: #f2f2f2; }
  section.app #results ul {
    margin: 0;
    padding: 0;
    margin-top: 20px; }
    section.app #results ul li {
      display: block;
      width: 100%; }
      section.app #results ul li::after {
        content: ' ';
        width: 100%;
        display: block;
        height: 1px;
        background: rgba(228, 226, 226, 0.44);
        clear: both; }
      section.app #results ul li img {
        display: block;
        width: 20%;
        margin: 4px;
        border: 1px solid white;
        border-radius: 50%;
        float: left; }
      section.app #results ul li h3 {
        margin: 0;
        padding: 0;
        margin-left: 10px;
        float: left;
        width: 70%;
        color: #cecece;
        cursor: pointer; }
      section.app #results ul li p {
        width: 70%;
        float: left;
        padding: 0;
        margin: 0;
        padding-left: 16px; }
      section.app #results ul li em {
        color: #e6e6e6;
        float: right;
        font-size: 11px; }
  section.app #chat h3 {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    width: 100%;
    color: #cecece;
    font-size: 18px; }
  section.app #chat ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  section.app #chat li {
    display: block;
    width: 100%; }
    section.app #chat li::after {
      content: ' ';
      width: 100%;
      display: block;
      height: 1px;
      background: rgba(228, 226, 226, 0.44);
      clear: both; }
    section.app #chat li img {
      display: block;
      width: 12%;
      margin: 4px;
      border: 1px solid white;
      border-radius: 50%;
      float: left; }
    section.app #chat li p {
      width: 79%;
      float: left;
      padding: 0;
      margin: 0;
      padding-left: 16px;
      margin-top: 10px; }
    section.app #chat li.his img {
      float: right; }

@media screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    padding: 0; }

  section.landing {
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 20px 0; }
    section.landing > * {
      margin: 10px; }

  section.app {
    width: 100%;
    padding: 0;
    margin: 20px 0; }
    section.app > * {
      margin: 10px; } }
