@import url(http://fonts.googleapis.com/css?family=Cantora+One);

body {
    min-height:100%;
    background-image:url('../images/bg.png');
    background-position:center top;
    background-size:cover;
    background-repeat:no-repeat;
}
section.landing {
    h1{
        margin:0;
        padding:0;
    }
    width:320px;
    margin:40pt auto;
    padding:20pt 30pt 25pt;
    background-color:rgba(0,0,0,0.4);
    box-shadow:0px 0px 22px rgba(255,255,255,0.3);
    border-radius:7px;
    img {
        max-width:100%;
    }
   p {
        color:white;
        text-align:center;
        font-weight:700;
        margin-top:12px;
        font-family: 'Cantora One', sans-serif;
        font-size:15pt;
   }
   a {
        font-family: 'Cantora One', sans-serif;
        display:block;
        width:160pt;
        margin:5px auto;
        text-align:center;
        background:white;
        color:#009EAA;
        font-weight:700;
        padding:10pt;
        font-size:14pt;
        border-radius:7px;
        &:hover, &:link , &:active {
            text-decoration:none;
        }
        &:hover {
            opacity:0.8;
            color:#009EAA;
            background:white;
            width:200pt;
            transition:all 0.7s;
        }
   }
}
