<h1 style='display:none;'>hola</h1>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>

<script type="in/Login"></script>
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
suppressWarnings: true
api_key: 60r2wa6mwqj8
authorize: true
</script>


<script type="text/javascript">
<% if PADRINO_ENV == 'development' %>
    BASE_URL = "http://localhost:8080";
<%else%>
    BASE_URL = "http://arbeit.herokuapp.com";
<%end%>
userdata = {};
var theuserisat = {};
var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function buildQuery(obj) {
    var Result= '';
    if(typeof(obj)== 'object') {
        jQuery.each(obj, function(key, value) {
            Result+= (Result) ? '&' : '';
            if(typeof(value)== 'object' && value.length) {
                for(var i=0; i<value.length; i++) {
                    Result+= [key+'[]', encodeURIComponent(value[i])].join('=');
                }
            } else {
                Result+= [key, encodeURIComponent(value)].join('=');
            }
        });
    }
    return Result;
}



getLocation = function(){
    if (navigator.geolocation){
        navigator.geolocation.getCurrentPosition(function(pos){
            theuserisat = pos;
            if(IN.User.isAuthorized()===true){
                IN.API.Profile('me')
                .fields(["email-address","skills","following","id","first-name","last-name","headline","three-past-positions"])
                .result(function(result){
                    userdata = result;
                    request();
                });
            }
        },
        function(){},
        options
    );
    }else{
         //console.log('shity browser');
    }
}

function request(){
    $.ajax({
        url: BASE_URL + "/user/auth",
        type: 'POST',
        data: {
            theuserisat  : theuserisat,
            userdata : userdata,
            authenticity_token: "<%= session[:csrf] %>"
        },
        error: function(data) {
            console.log(data);
        },
        success: function( data ) {
            console.log(data);
        }
    });
}



IN.Event.on(IN,'auth', function(){
    getLocation();
 });
</script>



<!--
http://arbeit.herokuapp.com//user/auth?userdata%5B_total%5D=1&userdata%5Bvalues%5D%5B0%5D%5B_key%5D=~&userdata%5Bvalues%5D%5B0%5D%5BemailAddress%5D=Wesleykunze%40me.com&userdata%5Bvalues%5D%5B0%5D%5BfirstName%5D=Wesley&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5B_total%5D=8&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B0%5D%5Bid%5D=1028&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B0%5D%5Bname%5D=Oracle&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B1%5D%5Bid%5D=1666&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B1%5D%5Bname%5D=Intuit&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B2%5D%5Bid%5D=14918&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B2%5D%5Bname%5D=Gracenote&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B3%5D%5Bid%5D=22460&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B3%5D%5Bname%5D=Burrill+%26+Company&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B4%5D%5Bid%5D=85562&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B4%5D%5Bname%5D=TechCrunch&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B5%5D%5Bid%5D=204345&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B5%5D%5Bname%5D=BrightTALK&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B6%5D%5Bid%5D=267463&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B6%5D%5Bname%5D=Veetle+Inc.&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B7%5D%5Bid%5D=1154695&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bcompanies%5D%5Bvalues%5D%5B7%5D%5Bname%5D=The+Founder+Institute&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bindustries%5D%5B_total%5D=1&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bindustries%5D%5Bvalues%5D%5B0%5D%5Bid%5D=4&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5Bpeople%5D%5B_total%5D=0&userdata%5Bvalues%5D%5B0%5D%5Bfollowing%5D%5BspecialEditions%5D%5B_total%5D=0&userdata%5Bvalues%5D%5B0%5D%5Bheadline%5D=Business+Development%2FSales+%26+Product+Marketing+-+Emerging+Software%2FTechnologies+-+Big+Data%2C+Mobile%2C+Cloud+Computing%2FSaaS&userdata%5Bvalues%5D%5B0%5D%5Bid%5D=ttJfxXaQZm&userdata%5Bvalues%5D%5B0%5D%5BlastName%5D=Kunze&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5B_total%5D=26&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B0%5D%5Bid%5D=2&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B0%5D%5Bskill%5D%5Bname%5D=French&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B1%5D%5Bid%5D=3&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B1%5D%5Bskill%5D%5Bname%5D=Social+Media&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B2%5D%5Bid%5D=4&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B2%5D%5Bskill%5D%5Bname%5D=Team+Management&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B3%5D%5Bid%5D=5&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B3%5D%5Bskill%5D%5Bname%5D=English&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B4%5D%5Bid%5D=6&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B4%5D%5Bskill%5D%5Bname%5D=Photoshop&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B5%5D%5Bid%5D=7&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B5%5D%5Bskill%5D%5Bname%5D=Management&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B6%5D%5Bid%5D=8&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B6%5D%5Bskill%5D%5Bname%5D=Marketing+Communications&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B7%5D%5Bid%5D=9&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B7%5D%5Bskill%5D%5Bname%5D=Marketing&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B8%5D%5Bid%5D=10&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B8%5D%5Bskill%5D%5Bname%5D=Cloud+Computing&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B9%5D%5Bid%5D=101&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B9%5D%5Bskill%5D%5Bname%5D=Sales&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B10%5D%5Bid%5D=102&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B10%5D%5Bskill%5D%5Bname%5D=Communication&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B11%5D%5Bid%5D=103&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B11%5D%5Bskill%5D%5Bname%5D=Solid+computer+skills&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B12%5D%5Bid%5D=111&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B12%5D%5Bskill%5D%5Bname%5D=SaaS&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B13%5D%5Bid%5D=112&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B13%5D%5Bskill%5D%5Bname%5D=Direct+Sales&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B14%5D%5Bid%5D=113&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B14%5D%5Bskill%5D%5Bname%5D=Salesforce.com&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B15%5D%5Bid%5D=114&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B15%5D%5Bskill%5D%5Bname%5D=Sales+Operations&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B16%5D%5Bid%5D=115&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B16%5D%5Bskill%5D%5Bname%5D=Product+Marketing&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B17%5D%5Bid%5D=116&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B17%5D%5Bskill%5D%5Bname%5D=Strategy&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B18%5D%5Bid%5D=117&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B18%5D%5Bskill%5D%5Bname%5D=Mobile+Applications&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B19%5D%5Bid%5D=118&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B19%5D%5Bskill%5D%5Bname%5D=Business+Development&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B20%5D%5Bid%5D=119&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B20%5D%5Bskill%5D%5Bname%5D=Entrepreneurship&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B21%5D%5Bid%5D=120&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B21%5D%5Bskill%5D%5Bname%5D=E-commerce&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B22%5D%5Bid%5D=121&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B22%5D%5Bskill%5D%5Bname%5D=Marketing+Strategy&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B23%5D%5Bid%5D=122&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B23%5D%5Bskill%5D%5Bname%5D=SEO&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B24%5D%5Bid%5D=123&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B24%5D%5Bskill%5D%5Bname%5D=Social+Media+Marketing&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B25%5D%5Bid%5D=124&userdata%5Bvalues%5D%5B0%5D%5Bskills%5D%5Bvalues%5D%5B25%5D%5Bskill%5D%5Bname%5D=Project+Management&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5B_total%5D=2&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B0%5D%5Bcompany%5D%5Bindustry%5D=Computer+Software&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B0%5D%5Bcompany%5D%5Bname%5D=%E2%80%9CiPhone+Mobile+Application+in+the+Health+sector%E2%80%9D&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B0%5D%5BendDate%5D%5Byear%5D=2010&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B0%5D%5Bid%5D=415986716&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B0%5D%5BisCurrent%5D=false&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B0%5D%5BstartDate%5D%5Byear%5D=2010&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B0%5D%5Bsummary%5D=%E2%80%A2+Idea%2C+features%2C+value+to+users%2C+business+model%2C+interviewed+Objective-C+software+developers%2C+and+financing.%0A%E2%80%A2+led+two+ESSEC+Business+School+students%2C+from+the+Entrepreneur+Club%2C+working+on+the+business+plan.&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B0%5D%5Btitle%5D=Software+Start-up%2C+Founder+and+Project+Manager&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B1%5D%5Bcompany%5D%5Bid%5D=162479&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B1%5D%5Bcompany%5D%5Bindustry%5D=Consumer+Electronics&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B1%5D%5Bcompany%5D%5Bname%5D=Apple&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B1%5D%5Bcompany%5D%5Bsize%5D=10%2C001%2B+employees&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B1%5D%5Bcompany%5D%5Bticker%5D=AAPL&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B1%5D%5Bcompany%5D%5Btype%5D=Public+Company&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B1%5D%5BendDate%5D%5Byear%5D=2009&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B1%5D%5Bid%5D=84359993&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B1%5D%5BisCurrent%5D=false&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B1%5D%5BstartDate%5D%5Byear%5D=2009&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B1%5D%5Bsummary%5D=Member+of+the+sales+%26+marketing+support+team+at+the+french+HQ+in+Paris.+Sales+and+Marketing+Activities%0A%0A%E2%80%A2+First+Intern+to+go+in+the+field+with+enterprise+sales+representatives.+Presented+Apple+products+to+customers%0A%E2%80%A2+Translated+and+adapted+US+marketing+brochures+for+the+French+Sales+force%0A%E2%80%A2+Participated+and+completed+successfully+the+Apple+sales+training.+Awarded+the+highest+level%3A+%E2%80%9CGold+Level%E2%80%9D&userdata%5Bvalues%5D%5B0%5D%5BthreePastPositions%5D%5Bvalues%5D%5B1%5D%5Btitle%5D=Sales+%26+Marketing+Support+Team%2C+Internship
-->
