<section class='landing '>
    <h1>
        <img src='./images/logo.png' class='logo' alt='Arbeit.co'/>
    </h1>
    <p>Build business relationships with the people nearby; face to face, real time, like AFK LinkedIn </p>
    <a href="./user/linkedin" title="Sign up with linked in to get started">Get Started</a>
</section>
